.App {
  text-align: center;
}
label {
  display: inline-block;
  width: 100px;
}

from div {
  margin: 15px;
}

from {
  background-color: bisque;
  display: inline-block;
  border: 2px solid black;
}
